:root {
	--var-char-two: black;
	--var-char-one: red;
}
#jogo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	width: 800px;
	height: 600px;
}
body {
	background-image: url('./img/background.jpg');
	background-size: inherit;

	font-size: 20px;
}
.casa {
	/*background-image: url('img/0.jpg');*/
	border: 3px solid rgb(7, 1, 1);
	border-spacing: 15px;
	width: 150px;
	height: 150px;
	float: left;
	background-size: cover;
	margin: 3px;
}
.btn-container {
	margin-top: 20px;

}


.Dio {
	color: var(--var-char-one);
}

.Jotaro {
	color: var(--var-char-two);
}
